.contact-section {
  min-height: 100vh;
  padding: 60px 20px;
  background-color: #0D0D0D;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  max-width: 750px;
  width: 100%;
}

.contact-section h2 {
  font-size: 2.8rem;
  color: #1DB954;
  margin-bottom: 20px;
}

.intro-paragraph {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #ffffff;
}

.contact-section p {
  font-size: 1.1rem;
  color: #b3b3b3;
  margin-bottom: 15px;
  line-height: 1.6;
}

.quick-contact {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.email-link {
  font-size: 1.2rem;
  color: #1DB954;
  text-decoration: none;
  font-weight: bold;
  margin-left: 8px;
}

.email-link:hover {
  text-decoration: underline;
}

.email-icon {
  color: #1DB954;
  font-size: 1.2rem;
}

.download-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2em;
  color: #1DB954;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.download-btn:hover {
  color: #17a749;
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.social-icon-react {
  font-size: 36px;
  color: white;
  transition: transform 0.3s ease;
}

.social-icon-react:hover {
  color: #1DB954;
  transform: scale(1.1);
}

