.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #0D0D0D;
  }
  
  .hero h1 {
    font-size: 3em;
    margin: 0;
    color: #FFFFFF;
  }
  
  .hero h2 {
    font-size: 1.5em;
    margin: 10px 0 0;
    color: #B3B3B3;
  }